main {

    padding-top: 50px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-fluid {
    max-width:150px;
}

.detail {
    max-width:200px;

}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: left;
    margin-right: 10px;
    max-width: 200px;
}

.info > a {
    width: 100%;
}

.nav {
    position: fixed;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    z-index: 1;
    grid-gap:10px;
}

.container-fluid {
    position: absolute;
    display: flex;
    justify-content: right;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    z-index: -1;
    align-items: center;
    grid-gap:10px;
}

@media (max-width: 1000px) {
    .container-fluid {
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 786px) {
    main {
        padding-top: 100px;
    }
}

@media (max-width: 575px) {
    main {
        padding-top: 260px;
    }
}

a {
    text-decoration: none;
    transition: 0.3s;
   }
a:hover {
    color: purple;
}

a.dropdown-toggle {
    color: white;
}

.profile-name:hover {
    color: Silver;
}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.accordion-button {
    z-index: 0;
}

.accordion-button:hover {
    z-index: 0;
}

.accordion-button:focus {
    z-index: 0;
}